table thead tr th div {
    font-family: 'Roboto', Serif, serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #B5B5C3;
    font-weight: 500;
}

.data-consulta {
    color: #B5B5C3;
    font-size: 14px;
    font-family: 'Roboto', serif;
    font-weight: 400;
}

.modal-mensagens {
    text-align: center
}

.mensagem_conteudo {
    font-size: 13px;
    color: #495057;
    padding: 20px;
    word-break: break-word;
}

.mensagem_conteudo ul,
.mensagem_conteudo ol {
    margin-left: 20px;
}

.mensagem_conteudo h1,
.mensagem_conteudo h2,
.mensagem_conteudo h3,
.mensagem_conteudo h4,
.mensagem_conteudo h5,
.mensagem_conteudo h6 {
    color: #3F4254;
    font-family: 'Poppins', serif;
}

.mensagem_titulo {
    color: #3F4254;
    font-size: 16px;
    font-family: 'Poppins', serif;
    margin-bottom: 0 !important;
    margin-left: 20px;
}

.modal_icon {
    font-size: 16px;
    background: #FFFFFF;
    cursor: pointer;
    outline: 0;
}