<div>
    <div class="card card-custom gutter-b">
        <div class="card-header border-0 py-5">
            <div class="card-title">
                <div class="card-label">
                    <div class="font-weight-bolder">{{ clientes.length }} clientes na base</div>
                    <div class="font-weight-light font-size-base">
                        <p class="data-consulta">Data da consulta: {{ dataConsulta | moment }}</p>
                    </div>
                </div>
            </div>
            <div class="float-right">
                <b-button class="btn_filtros btn_margem20" variant="outline-secondary" @click="limparPesquisa">
                    <i class="la la-close"></i>
                    Limpar
                </b-button>
                <b-button v-b-toggle.filtros-clientes variant="outline-primary" class="btn_filtros">
                    <i class="fas fa-filter"></i>
                    Filtros Avançados
                </b-button>
                <b-sidebar id="filtros-clientes" class="d-flex justify-content-between " title="Filtros avançados" right
                    shadow>
                    <div class="box-segmentos">
                        <h1 class="box-h1">Segmentos</h1>
                        <b-form-select v-model="selected" class="mb-3">
                            <option v-for="option in options" :value="option.value" v-text="option.text"></option>
                        </b-form-select>
                    </div>
                    <div class="box-termos">
                        <h1 class="box-h1">Termo de Busca</h1>
                        <b-form-input v-model="filter"></b-form-input>
                    </div>
                    <div class="botoes-sidebar">
                        <b-button class="btn_filtros btn_margem20" variant="outline-secondary" @click="limparPesquisa">
                            <i class="la la-close"></i>
                            Limpar
                        </b-button>
                        <b-button variant="primary" class="btn_filtros" @click="buscarCliente">
                            <i class="fa fa-search"></i>
                            Buscar
                        </b-button>
                    </div>
                </b-sidebar>
            </div>
        </div>
        <div class="card-body d-flex flex-column table-head">
            <b-table responsive :items="clientes" :fields="fields" :busy.sync="isBusy">
                <template #table-busy>
                    <div class="text-center my-2" style="color: royalblue">
                        <b-spinner class="align-middle"></b-spinner>
                    </div>
                </template>
                <template #cell(quantidadeDeDispositivos)="data">
                    <i class="fas fa-mobile-alt mobile-phone" :id="'id'+data.index"></i>
                    {{ data.value }}
                    <b-tooltip :target="'id'+data.index" placement="top">
                        <div v-for="(disps, key) in data" :key="key">
                            <div v-for="(disp, key1) in disps.clienteDispositivo" :key="key1">
                                {{ disp.nome }}
                            </div>
                        </div>
                    </b-tooltip>

                </template>
                <template #cell(segmento)="data">
                    <div v-for="(i, key) in data" :key="key" class="segmento-pills">
                        <div v-for="(seg, key1) in i.segmento" :key="key1">
                            <span class="badge badge-pill badge-secondary segmento-pill">
                                <p>{{ seg.nome }}</p>
                            </span>
                        </div>
                    </div>
                </template>
                <template #cell(tipoNotificacao)="data">
                    <div v-for="(i, key) in data" :key="key">
                        <div v-for="(t, key1) in i.tipoNotificacao" :key="key1">
                            <div v-if="t.id == 1">
                                <div v-if="t.recebeNotificacao" class="tipo-notificacao-div">
                                    <div class="tipo-notificacao-sinal positivo"></div>
                                    Sim
                                </div>
                                <div v-else class="tipo-notificacao-div">
                                    <div class="tipo-notificacao-sinal negativo"></div>
                                    Não
                                </div>

                            </div>
                        </div>
                    </div>
                </template>
                <template #cell(tipoNotificacaoOfertas)="data">
                    <div v-for="(i, key) in data" :key="key">
                        <div v-for="(t, key1) in i.tipoNotificacao" :key="key1">
                            <div v-if="t.id == 1">
                                <div v-if="t.recebeNotificacao" class="tipo-notificacao-div">
                                    <div class="tipo-notificacao-sinal positivo"></div>
                                    Sim
                                </div>
                                <div v-else class="tipo-notificacao-div">
                                    <div class="tipo-notificacao-sinal negativo"></div>
                                    Não
                                </div>

                            </div>
                        </div>
                    </div>
                </template>
                <template #cell(tipoNotificacaoMovimentacoes)="data">
                    <div v-for="(i, key) in data" :key="key">
                        <div v-for="(t, key1) in i.tipoNotificacao" :key="key1">
                            <div v-if="t.id == 1">
                                <div v-if="t.recebeNotificacao" class="tipo-notificacao-div">
                                    <div class="tipo-notificacao-sinal positivo"></div>
                                    Sim
                                </div>
                                <div v-else class="tipo-notificacao-div">
                                    <div class="tipo-notificacao-sinal negativo"></div>
                                    Não
                                </div>

                            </div>
                        </div>
                    </div>
                </template>
                <template #cell(tipoNotificacaoFavoritos)="data">
                    <div v-for="(i, key) in data" :key="key">
                        <div v-for="(t, key1) in i.tipoNotificacao" :key="key1">
                            <div v-if="t.id == 1">
                                <div v-if="t.recebeNotificacao" class="tipo-notificacao-div">
                                    <div class="tipo-notificacao-sinal positivo"></div>
                                    Sim
                                </div>
                                <div v-else class="tipo-notificacao-div">
                                    <div class="tipo-notificacao-sinal negativo"></div>
                                    Não
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </b-table>
        </div>
    </div>
</div>